*.aux
*~
*.dvi
*.log
*.ps
*.synctex.gz
*.jpeg
*.jpg
*.png
*.pdf
*#
*octave-workspace
**/images
*plot_code_new.py
**/rate_files
**/code/texfiles/figures/
**/code/temp/3_ant_ue/fontconfig
*.mat
*/*.mat
*/*/*.mat
